<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Badasseugi</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>public.audio</string>
				<string>public.audiovisual-content</string>
				<string>org.matroska.mkv</string>
				<string>org.webmproject.webm</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Badasseugi</string>
	<key>CFBundleIdentifier</key>
	<string>net.jioh.samigen</string>
	<key>CFBundleName</key>
	<string>Badasseugi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>동영상의 음성을 온디바이스로 인식해 자막을 만듭니다.</string>
	<key>UpdateAssetPrefix</key>
	<string>badasseugi</string>
	<key>UpdateRepo</key>
	<string>ziozzang/badasseugi</string>
</dict>
</plist>
